<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
	<h4>
	  Passing in a block
	</h4>
	<button class="btn btn-primary" {{action "openModal" "isShowingFirstModal"}}>Send!</button>
	{{#if isShowingFirstModal}}
	{{#email-modal  
	on-close=(action "closeModal" "isShowingFirstModal")
	on-send-email=(action "asyncSendEmail")}}
	Extra content that you want to display!
	{{/email-modal}}
	{{/if}}
      </div>
      <hr>
      <div>
	<h4>Simple</h4>
	<button class="btn btn-primary" {{action "openModal" "isShowingSecondModal"}}>Send!</button>
	{{#if isShowingSecondModal}}
	{{email-modal 
	close-on-send=true
	on-close=(action "closeModal" "isShowingSecondModal")
	on-send-email=(action "asyncSendEmail")}}
	{{/if}}
      </div>
    </div>
  </div>
</div>
