<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
	<h4>
	  Passing in a block
	</h4>
	{{#email-modal trigger-text="Send Message" on-send-email=(action "asyncSendEmail")}}
	Extra content that you want to display!
	{{/email-modal}}
      </div>
      <hr>
      <div>
	<h4>Simple</h4>
	{{email-modal 
	close-on-send=true
	on-close=(action "closeModal")
	on-send-email=(action "asyncSendEmail")}}
      </div>
    </div>
  </div>
</div>
